In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [86]:
df =pd.read_csv('assignment1.csv')

In [87]:
df.head()

,Date,product,phase,campaign_platform,campaign_type,communication_medium,subchannel,audience_type,creative_type,creative_name,device,age,spends,impressions,clicks,link_clicks
0,2019-10-16,Product 1,Performance,Google Ads,Search,Search Keywords,Brand,'-,'-,'-,Desktop,18-24,0.00,2,0,0.0
1,2019-10-16,Product 1,Performance,Google Ads,Search,Search Keywords,Brand,'-,'-,'-,Desktop,25-34,0.00,5,0,0.0
2,2019-10-16,Product 1,Performance,Google Ads,Search,Search Keywords,Brand,'-,'-,'-,Desktop,35-44,0.00,1,0,0.0
3,2019-10-16,Product 1,Performance,Google Ads,Search,Search Keywords,Brand,'-,'-,'-,Desktop,Undetermined,14.63,5,3,0.0
4,2019-10-18,Product 1,Performance,Google Ads,Search,Search Keywords,Brand,'-,'-,'-,Desktop,18-24,53.31,10,2,0.0

In [88]:
df.shape

(16834, 16)

In [89]:
#df.replace("'-" , np.NaN,inplace=True)
df.isnull().sum()

Date                      0
product                   0
phase                     0
campaign_platform         0
campaign_type             0
communication_medium      0
subchannel                0
audience_type             0
creative_type             0
creative_name             0
device                    0
age                       0
spends                    0
impressions               0
clicks                    0
link_clicks             546
dtype: int64

In [90]:
df1=df[df['link_clicks']!=0]
print(df1['campaign_platform'].unique())

['Facebook Ads']

In [91]:
df1.shape

(1733, 16)

In [93]:
df_facebook=df[df['campaign_platform']=="Facebook Ads"]
df_facebook.shape

(1733, 16)

In [95]:
df_google=df[df['campaign_platform']=="Google Ads"]
df_google.shape

(15101, 16)

In [8]:
df.groupby(["campaign_platform"])['spends','clicks','link_clicks'].sum()

                       spends  clicks  link_clicks
campaign_platform
Facebook Ads        564115.51   77569      35351.0
Google Ads         1939003.26  124065          0.0

In [ ]:
df['phase'].unique()